.container {
  background: white;
  border-radius: 0.5rem;
  height: 80vh;
  width: 85%;
  margin-left: 10%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid #2e4a7d;
  margin: 0 3rem;
}

.info {
  display: flex;
  align-items: center;
  width: 80%;
}

.info > img {
  height: 75px;
  border-radius: 50%;
  border: 2px solid var(--blue-buttom-sidebar);
}

.info > h2 {
  margin-left: 20px;
  color: var(--blue-text);
}

.add {
  background: var(--blue-buttom-sidebar);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.add:hover {
  background: var(--blue-sidebar);
}

.add > i {
  color: white;
  font-size: 1.3rem;
}

/* Card */
.listContainer {
  overflow: auto;
  display: grid;
  max-height: 78%;
  min-height: 78%;
  max-width: 95%;
  min-width: 95%;
  margin-left: 5%;
  padding: 1rem;
  padding-right: 1rem;
  grid-auto-rows: 20.5%;
}

.cardContent {
  display: flex;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  max-width: 98%;
  min-width: 98%;
  background: linear-gradient(
    180deg,
    var(--linear-gradient-primary) 0%,
    var(--linear-gradient-secundary) 100%
  );
  cursor: pointer;
}

.profileData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border-left: 0.5rem solid var(--blue-buttom-sidebar);
  border-radius: 0.5rem;
}

.profileData h2,
.profileData p {
  margin-left: 1rem;
}

.profileData h2 {
  color: var(--blue-text);
}

.profileData p {
  color: #2e4a7db9;
  font-weight: 600;
}

.buttons {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: space-evenly;
  width: 20%;
}

.buttons button {
  background: var(--blue-buttom-sidebar);
  width: 35px;
  height: 35px;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.buttons button:nth-child(1):hover {
  background: var(--blue-sidebar);
}

.buttons button:nth-child(2):hover {
  background: #d11a2a;
}

/* Modal cadastro */
.modalContent {
  width: 100%;
  height: 100%;
  display: flex;
}

.imageContent {
  width: 50%;
  height: 100%;
}

.formContent {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerModal {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.mainText {
  color: var(--blue-text);
  font-size: 2.8rem;
  font-weight: 800;
}
.spanText {
  color: #ff738a;
  font-size: 2.8rem;
  font-weight: 800;
}
.bodyForm {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.inputs:nth-child(1) {
  margin-top: 1.5rem;
}

.inputs {
  width: 100%;
  height: 12%;
  margin-bottom: 0.5rem;
  border: 2px solid var(--blue-buttom-sidebar);
  border-radius: 0.5rem;
  text-indent: 10%;
}

.inputs::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  opacity: 0.5;
  font-size: 0.9rem;
  text-indent: 10%;
}

.buttonSubmit {
  position: relative;
  left: 10.5%;
  width: 80%;
  height: 13%;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
  background-color: var(--blue-buttom-sidebar);
}
