.container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 0.5rem;
  padding: 5rem 0;
  width: 75%;
  margin-bottom: 3%;
  margin-left: 10%;
}

.ident {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3c5d9585;
  margin-left: 2rem;
  height: 65px;
  width: 65px;
  color: var(--blue-buttom-sidebar);
  font-size: 1.8rem;
  border-radius: 50%;
}

.info {
  margin-left: 1rem;
}

.info p {
  color: var(--blue-text);
  font-size: 1.4rem;
  font-weight: 800;
}
