.container {
  background: white;
  border-radius: 0.5rem;
  height: 80vh;
  width: 85%;
  margin-left: 10%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid #2e4a7d;
  margin: 0 3rem;
}

.info {
  display: flex;
  align-items: center;
  width: 80%;
}

.info > img {
  height: 75px;
  border-radius: 50%;
  border: 2px solid var(--blue-buttom-sidebar);
}

.info > h2 {
  margin-left: 20px;
  color: var(--blue-text);
}

.add {
  background: var(--blue-buttom-sidebar);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.add:hover {
  background: var(--blue-sidebar);
}

.add > i {
  color: white;
  font-size: 1.3rem;
}

/* Card */
.listContainer {
  overflow: auto;
  display: grid;
  max-height: 78%;
  min-height: 78%;
  padding: 1rem;
  padding-right: 1rem;
  grid-auto-rows: 20.5%;
}

.cardContent {
  background: aqua;
  display: flex;
  border-radius: 0.5rem;
  margin: 2.5% 0 0% 5%;
  max-width: 90%;
  min-width: 90%;
  max-height: 85%;
  min-height: 85%;
  background: linear-gradient(
    180deg,
    var(--linear-gradient-primary) 0%,
    var(--linear-gradient-secundary) 100%
  );
  cursor: pointer;
}

.cardContentResize {
  background: aqua;
  display: flex;
  border-radius: 0.5rem;
  margin: 2.5% 0 0% 5%;
  max-width: 93%;
  min-width: 93%;
  max-height: 85%;
  min-height: 85%;
  background: linear-gradient(
    180deg,
    var(--linear-gradient-primary) 0%,
    var(--linear-gradient-secundary) 100%
  );
  cursor: pointer;
}

.profileData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border-left: 0.5rem solid var(--blue-buttom-sidebar);
  border-radius: 0.5rem;
}

.profileData h2,
.profileData p {
  margin-left: 1rem;
}

.profileData h2 {
  color: var(--blue-text);
}

.profileData p {
  color: #2e4a7db9;
  font-weight: 600;
}

.buttons {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: space-evenly;
  width: 20%;
}

.buttons button {
  background: var(--blue-buttom-sidebar);
  width: 35px;
  height: 35px;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.buttons button:nth-child(1):hover {
  background: var(--blue-sidebar);
}

.buttons button:nth-child(2):hover {
  background: #d11a2a;
}

/* Modal cadastro */
.modalImage {
  flex: 1;
  background-color: yellow;
}

.modalImage > img {
  width: 100%;
  height: 100%;
}

.modalHeaderPatient {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.mainTextPatient {
  color: var(--blue-text);
  font-size: 2.2rem;
  font-weight: 800;
}
.spanTextPatient {
  color: #ff738a;
  font-size: 2.2rem;
  font-weight: 800;
}

.modalHeaderDoctor {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTextDoctor {
  color: var(--blue-text);
  font-size: 1.8rem;
  font-weight: 800;
}

.mainTextDoctor > span {
  color: #ff738a;
  font-size: 1.8rem;
  font-weight: 800;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.modalContent {
  flex: 1;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit {
  font-family: "nunito", sans-serif;
  font-weight: 600;
}
