.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--blue-sidebar);
  height: 100vh;
  width: 8.5%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.logo {
  background: var(--blue-buttom-sidebar);
  height: 55px;
  margin-top: 25px;
  border-radius: 1rem;
  cursor: pointer;
}

.notActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #12afcb;
  border: none;
  border-radius: 1rem;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

.notActive:hover {
  background: var(--blue-buttom-sidebar);
}

.notActive > i {
  color: var(--blue-buttom-sidebar);
  font-size: 1.6rem;
}

.notActive:hover > i {
  color: white;
}

.extend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 1rem;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  background: var(--blue-buttom-sidebar);
}

.active > i {
  color: white;
  font-size: 1.6rem;
}


.contain {
  display: flex;
  width: 100%;
  margin: 2px auto;
}

.selectorNotActive{
  position: relative;
  left: 10px;
  bottom: 5px;
  width: 4px;
  height: 80%;
  border-radius: 2rem;
  background: var(--blue-sidebar);
}

.selectorActive {
  position: relative;
  left: 15px;
  width: 0.3rem;
  height: 75%;
  border-radius: 5rem;
  background: white;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoOff {
  color: var(--blue-sidebar);
}

.infoOn {
  margin: 0 auto;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}


.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #12afcb;
  border: none;
  border-radius: 1rem;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  margin-bottom: 25px;
}

.logout:hover {
  background: var(--blue-buttom-sidebar)
}

.logout > i {
  color: var(--blue-buttom-sidebar);
  font-size: 1.5rem;
}

.logout:hover > i {
  color: white;
  font-size: 1.5rem;
}