.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #ebf2f5;
}

.loginContent {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 450px;
  background: linear-gradient(180deg, rgba(49,87,235,1) 0%, rgba(23,204,208,1) 100%);
}


.welcome {
  color: white;
}

.descrip {
  color: white;
}

.descrip > span {
  color: var(--linear-gradient-primary);
}

.formContent {
  width: 90%;
}

.formFields {
  padding: 2rem 0 1rem 0;
}

.forgotPassword {
  width: 90%;
  height: 2rem;
  display: flex;
  align-items: center;
}

.forgotPassword > i {
  margin-right: 0.5rem;
  color: var(--blue-text);
}

.forgotPassword > p {
  color: white;
}

.link {
  color: var(--linear-gradient-primary);
  cursor: pointer;
  text-decoration: line;
}
